body {
    font-family: 'Allerta Stencil';
    font-size: 22px;
    display: flex;
    justify-content: center;
    margin : 0;
    padding: 0;
}

#start-screen {
    height: 800px;
    width: 1200px;
    margin: 50px auto;
    position:fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction:column;
    background-image: url("./image/bg_start.png");
    background-size: cover;
}

#start-background {
    width: 100%;
    height: 100%; 
}

#start-message {
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#start-message h1 {
    margin: 10px auto;
    font-size: 55px;
    color: navy;
    text-shadow: 3px 3px lightslategray; 
}
#start-message h2 {
    margin: 5px auto;
    font-size: 55px;
    color: rgb(248, 72, 41);
    text-shadow: 3px 3px red;
}
#start-message p {
    font-size: 25px;
    margin: 5px auto;
}
#start-button{
    font-family: 'Allerta Stencil';
    height: 80px;
    width: 80px;
    background-color: rgba(135,206,235, 0.7);
    font-size: 20px;
    border-radius: 50%;
    position:relative; 
    top:50px; 
    left:470px; 
    z-index:1 
}

#game-board {
    margin:50px auto;
    position:fixed; 
    
    cursor: none;
}

#game-over-screen {
    height: 800px;
    width: 1200px;
    margin: 50px auto;
    color: white;
    position:fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction:column;
    background-image: url("./image/game_over_screan.jpg");
    background-size: cover;
    
}
#game-over-message {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#game-over-screen button {
    font-family: 'Allerta Stencil';
    color: white;
    font-size: medium;
    margin: 15px;
    border-radius: 20%;
    height: 40px;
    width: 100px;
    background-color: rgba(135,206,235, 0.7);
    cursor: pointer;
    box-shadow: 3px 3px #999;
}
#game-over-screen button:hover{
    background-color: navy;
}
#game-over-screen button:active{
    background-color: navy;
    box-shadow: 1px 1px #666;
    transform: translateY(4px);
}

#levelup-screen{
    height: 800px;
    width: 1200px;
    margin: 50px auto;
    color: navy;
    position:fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction:column;
    background-color: rgba(255, 255, 255, 0.8); 
    
}
#levelup-message {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

p {
    display: flex;
    align-items: center;
}

#sound {
    height: 80px;
    width: 300px;
    margin: 5px auto;
    position: fixed;
    bottom: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
#sound button{
    height: 40px;
    width: 40px;
    font-size: larg;
}